<div class="container">
  <div class="flex w-full justify-center border-t py-5">
    <p class="text-sm text-muted-foreground">
      © 2024, Built with Astro · Hosted by Vercel
    </p>
  </div>
</div>
