---
import Logo from "@/components/solid/logo.tsx"
import Navbar from "@/components/solid/nav-bar.tsx"
import NavigationDesktop from "@/components/solid/navigation-desktop"
import NavigationMobile from "@/components/solid/navigation-mobile"

const pathname = Astro.url.pathname
---

<Navbar client:load>
  <a href="/" aria-label="Home" class="p-1">
    <Logo class="h-[31.5px] w-[14px] text-heading" />
  </a>

  <nav class="flex items-center justify-end">
    <div class="hidden md:block">
      <NavigationDesktop pathname={pathname} client:media="(min-width: 768px)" />
    </div>
    <div class="block md:hidden">
      <NavigationMobile client:media="(max-width: 767px)" />
    </div>
  </nav>
</Navbar>
