@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }
}

@layer base {
  html,
  body {
    @apply h-full w-full bg-slate-900 font-sans text-slate-300;

    touch-action: var(--touch-action);
    -webkit-tap-highlight-color: transparent;
  }

  /* Custom scrollbar */
  *::-webkit-scrollbar {
    /* @apply h-[4px] w-[4px]; */
  }

  *::-webkit-scrollbar-track {
    /* @apply bg-slate-900; */
  }

  *::-webkit-scrollbar-thumb {
    /* @apply rounded-2xl bg-slate-400; */
  }
}
