---
import Confirm from "@/components/react/confirm.tsx"
import ContactForm from "@/components/react/contact-form"
import SuccessMessage from "@/components/react/success-message.tsx"
import Layout from "@/layouts/base.astro"
import Main from "@/layouts/main.astro"
import styles from "@/styles/contact.module.css"
---

<Layout>
  <Main>
    <div class="mx-auto max-w-3xl">
      <div class="flex flex-col items-center gap-y-1">
        <h2 class="text-2xl font-bold text-heading md:text-3xl">Contact</h2>
        <hr class="block h-[2px] w-8 border-none bg-gradient" />
      </div>
      <hr
        class="my-8 h-px border-none bg-gradient-to-l from-transparent via-muted to-transparent"
      />
      <div class={styles["contact-form"]}>
        <ContactForm client:idle />
        <Confirm client:idle />
        <SuccessMessage client:idle />
      </div>
    </div>
  </Main>
</Layout>
