---
import Layout from 'layouts/base.astro'
import Profile from 'ui/solidjs/profile.tsx'
import Form from 'ui/react/form.tsx'
---

<Layout>
  <Profile client:load />
  <div class="mx-auto mt-24 max-w-3xl">
    <div class="mb-8 flex flex-col items-center gap-y-1">
      <h2 class="text-3xl font-bold md:text-4xl">Contact</h2>
      <span class="block h-[2px] w-8 bg-cyan-500"></span>
    </div>
    <Form client:load />
  </div>
</Layout>
