---
import Profile from "@/components/solid/profile.tsx"
import Layout from "@/layouts/base.astro"
import Main from "@/layouts/main.astro"
---

<Layout>
  <Main>
    <Profile client:load />
  </Main>
</Layout>
