---
import { getCollection } from "astro:content"

import Filter from "@/components/solid/filter.tsx"
import PostsList from "@/components/solid/posts-list"
import Layout from "@/layouts/base.astro"
import Main from "@/layouts/main.astro"
import { stripMarkdown } from "@/utils/markdown"

const allPosts = (
  await getCollection("posts", ({ data }) => {
    return data.draft !== true
  })
)
  .map((post) => ({
    slug: post.slug,
    title: post.data.title,
    description:
      post.data.description || stripMarkdown(post.body).substring(0, 100) + "...",
    tags: post.data.tags,
    publishedDate: post.data.publishedDate,
    updatedDate: post.data.updatedDate,
  }))
  .sort((post1, post2) => post2.publishedDate.getTime() - post1.publishedDate.getTime())

const tags = [...new Set(allPosts.map((post) => post.tags).flat())]
---

<Layout>
  <Main>
    <div class="flex flex-col gap-y-1">
      <h2 class="text-2xl font-bold text-heading md:text-3xl">Posts</h2>
      <hr class="block h-[2px] w-8 border-none bg-gradient" />
    </div>
    <hr
      class="my-8 h-px border-none bg-gradient-to-l from-transparent via-muted to-transparent"
    />
    <div class="flex flex-col gap-x-8 gap-y-12 md:flex-row-reverse">
      <div class="w-64">
        <Filter tags={tags} client:load />
      </div>
      <div class="flex-1">
        <PostsList posts={allPosts} client:load />
      </div>
    </div>
  </Main>
</Layout>
