---
import { parse } from 'node-html-parser'
import CopyToClipboard from 'ui/astro/copy-to-clipboard.astro'

// Get slot component as html string
const rawHtml = await Astro.slots.render('default')

// Parse back to html element
const html = parse(rawHtml)

const code = html.querySelector('code')?.textContent.trim()

const props = Astro.props
---

<div data-code class="relative">
  <pre
    {...props}><slot /><div class="absolute right-2 top-3"><CopyToClipboard text={code} /></div></pre>
</div>
