---
import type { CollectionEntry } from 'astro:content'
import { getCollection } from 'astro:content'
import Layout from 'layouts/base.astro'
import Pre from 'ui/astro/pre.astro'
import Tag from 'ui/solidjs/tag.tsx'

interface Props {
  entry: CollectionEntry<'snippets'>
}

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const allSnippets = await getCollection('snippets', ({ data }) => {
    return data.draft !== true
  })

  return allSnippets.map((snippet) => ({
    params: { slug: snippet.slug },
    props: { entry: snippet },
  }))
}

// 2. When it's time to render, you can get the entry directly from the prop
const { entry } = Astro.props
const { Content } = await entry.render()
---

<Layout title={entry.data.title}>
  <div class="mx-auto max-w-3xl">
    <h1
      class="mb-6 break-words text-3xl font-bold leading-[2.5rem] md:text-[36px] md:leading-[2.725rem]"
    >
      {entry.data.title}
    </h1>

    <div class="flex gap-x-2">
      {entry.data.tags.map((tag) => <Tag name={tag} />)}
    </div>

    <hr class="my-10 border-slate-400/20" />

    <article
      class="!prose-invert prose-slate prose w-full max-w-none prose-code:rounded-md prose-code:p-1 prose-pre:mt-0"
    >
      <Content components={{ pre: Pre }} />
    </article>
  </div>
</Layout>
