---
import { getCollection, type CollectionEntry } from "astro:content"

import { components } from "@/components/astro/mdx-components.astro"
import Tag from "@/components/solid/tag.tsx"
import Layout from "@/layouts/base.astro"
import Main from "@/layouts/main.astro"

import "@/styles/mdx.css"

interface Props {
  entry: CollectionEntry<"snippets">
}

export async function getStaticPaths() {
  const allSnippets = await getCollection("snippets", ({ data }) => {
    return data.draft !== true
  })

  return allSnippets.map((snippet) => ({
    params: { slug: snippet.slug },
    props: { entry: snippet },
  }))
}

const { entry } = Astro.props
const { Content } = await entry.render()
---

<Layout title={entry.data.title}>
  <Main>
    <div class="mx-auto flex flex-col items-center">
      <h1
        class="mb-6 break-words text-2xl font-bold leading-[2.5rem] text-heading md:text-3xl md:leading-[2.725rem]"
      >
        {entry.data.title}
      </h1>

      <div class="mb-12 flex items-center gap-x-2">
        {entry.data.tags.map((tag) => <Tag active>{tag}</Tag>)}
      </div>

      <article
        class="prose prose-invert grid w-full max-w-none grid-cols-[1fr,minmax(0,768px),1fr] [&>*]:col-start-2"
      >
        <Content components={components} />
      </article>
    </div>
  </Main>
</Layout>
