---
import type { CollectionEntry } from 'astro:content'
import { getCollection } from 'astro:content'
import Layout from 'layouts/base.astro'
import Pre from 'ui/astro/pre.astro'
import Tag from 'ui/solidjs/tag.tsx'

import 'styles/mdx.css'

interface Props {
  entry: CollectionEntry<'snippets'>
}

export async function getStaticPaths() {
  const allSnippets = await getCollection('snippets', ({ data }) => {
    return data.draft !== true
  })

  return allSnippets.map((snippet) => ({
    params: { slug: snippet.slug },
    props: { entry: snippet },
  }))
}

const { entry } = Astro.props
const { Content } = await entry.render()
---

<Layout title={entry.data.title}>
  <div class="mx-auto flex flex-col items-center">
    <h1
      class="mb-6 break-words text-3xl font-bold leading-[2.5rem] text-slate-200 md:text-[36px] md:leading-[2.725rem]"
    >
      {entry.data.title}
    </h1>

    <div class="mb-12 flex gap-x-2">
      {
        entry.data.tags.map((tag, i) => (
          <>
            {i !== 0 && <span class="font-bold text-slate-600">·</span>}
            <Tag name={tag} />
          </>
        ))
      }
    </div>

    <article
      class="!prose-invert prose-slate prose grid w-full max-w-none grid-cols-[1fr,minmax(0,768px),1fr] [&>*]:col-start-2"
    >
      <Content components={{ pre: Pre }} />
    </article>
  </div>
</Layout>
