---
import Footer from 'ui/astro/footer.astro'
import Header from 'ui/astro/header.astro'
import DrawerMenu from 'ui/react/drawer-menu.tsx'

import 'styles/global.css'

export interface Props {
  title?: string
  description?: string
}

const { title, description } = Astro.props
const { pathname } = Astro.url
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ? title + " | K's Web" : "K's Web"}</title>
    {description && <meta name="description" content={description} />}
  </head>
  <body class="mx-auto flex max-w-6xl flex-col px-6">
    <Header />
    <main class="relative flex-1 pb-16 pt-36">
      <slot />
    </main>
    <Footer />
    <DrawerMenu pathname={pathname} client:media="(max-width: 768px)" />
  </body>
</html>
