---
import { ViewTransitions } from "astro:transitions"

import Footer from "@/components/astro/footer.astro"
import Header from "@/components/astro/header.astro"

import "@/styles/global.css"

export interface Props {
  title?: string
  description?: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ? title + " | K's Web" : "K's Web"}</title>
    {description && <meta name="description" content={description} />}
    <ViewTransitions />
  </head>
  <body class="mx-auto grid min-h-screen grid-rows-[auto,1fr,auto]">
    <Header />
    <slot />
    <Footer />
    <!-- <script>
      document.addEventListener(
        "astro:page-load",
        () => {
          console.log("page-load")
        },
        { once: true },
      )
      document.addEventListener(
        "astro:after-swap",
        () => {
          console.log("after-swap")
        },
        { once: true },
      )
    </script> -->
  </body>
</html>
